stepflow-dsl/examples/full/full.json
{
  "Comment": "Full integration workflow example",
  "Version": "1.0.0",
  "StartAt": "PrepareTask",
  "States": {
    "PrepareTask": {
      "Type": "Task",
      "Resource": "log.input",
      "InputMapping": {
        "preserve": "none",
        "mappings": [
          { "key": "x", "type": "constant", "value": 1 },
          { "key": "y", "type": "constant", "value": 2 },
          {
            "key": "sum",
            "type": "expr",
            "transform": "input.x + input.y",
            "dependsOn": ["x", "y"]
          }
        ]
      },
      "Next": "DecidePath"
    },
    "DecidePath": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": {
            "Variable": "$.sum",
            "Operator": "GreaterThan",
            "Value": 3
          },
          "Next": "MapLoop"
        }
      ],
      "Default": "FailState"
    },
    "MapLoop": {
      "Type": "Map",
      "ItemsPath": "$.items",
      "Iterator": {
        "StartAt": "PassEach",
        "States": {
          "PassEach": {
            "Type": "Pass",
            "ResultPath": "$.result",
            "Next": "SucceedInMap"
          },
          "SucceedInMap": { "Type": "Succeed" }
        }
      },
      "Next": "ParallelBranch"
    },
    "ParallelBranch": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ParallelOne",
          "States": {
            "ParallelOne": {
              "Type": "Task",
              "Resource": "log.parallel.1",
              "End": true
            }
          }
        },
        {
          "StartAt": "ParallelTwo",
          "States": {
            "ParallelTwo": {
              "Type": "Task",
              "Resource": "log.parallel.2",
              "End": true
            }
          }
        }
      ],
      "Next": "SuccessFinal"
    },
    "SuccessFinal": {
      "Type": "Succeed"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "ValueTooLow",
      "Cause": "The sum was less than or equal to 3"
    }
  }
}